<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title th:text="#{cas.login.pagetitle}"></title>
</head>

<body id="cas" class="login">
    <div layout:fragment="content">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <div th:replace="fragments/loginform" />
            </div>
        </div>
    </div>
</body>
</html>
